<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Summerization</title>

    <style>
        textarea {
            border-radius: 10px;
            padding: 10px;
            font-size: large;
        }

        div {
            display: block;
            margin-left: 20ch;
            margin-right: 20ch;
            margin-top: 1.5cm;
        }
    </style>
</head>

<body>
    <center>
        <header>
            <h1>Text Summerization</h1>
        </header>
        <main>
            <form action="text_summerization" method="post">
                {% csrf_token %}
                <textarea name="text" rows="20" cols="120" placeholder="type or copy text here."></textarea>
                <br>
                <input type="submit">
            </form>
        </center>
            <div>
                {% for text in text %}
                <p>{{ text }}</p>
                {% endfor %}
            </div>

    </main>
</body>

</html>